.navbar-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    //padding: 0 20px;
    box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.25);
    height: 80px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translate(-50%);
    z-index: 9999;
    background-color: #24BA84;
    //gap: 10%;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(8,auto);
    //grid-gap: 10px;
    list-style: none;
    align-items: center;
    //justify-content: center;
    //color: white;
}

.nav-links{
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
    color: white;
    width: auto;
}

.nav-links:hover{
    background-color: #01959a;
    color: #fff;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;
}

.nav-links-mobile{
    display: none;
}

button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: white;
}

button:hover{
    background-color: white;
    color: black;
}
.menu-icons{
  display: none;
}
.navbar-profile-icons{
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  position: relative;
  right: 10px;
  color:  white;
  z-index: 99;
}
.navbar-logo-and-title{
  position: relative;
  left: 5%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.navbar-logo{
  position: relative;
  width: 15%;
  //left: 5%;
}
.navbar-title{
  font-size: 30px;
  font-weight: bold;
  color: white;
}
#basic-button{
  //width: 20%;
  height: 80%;
}
.navbar-profile-icon-desktop{
  height: 80%;
  width: 100%;
  /* left: 5px; */
  cursor: pointer;
}
.navbar-profile-icon-mobile{
  display: none;
}

@media screen and (max-width: 1250px){
  .navbar-logo-and-title{
    left: 2%;
  }
  .navbar-logo{
    width: 10%;
    //left: 5%;
  }
  .navbar-title{
    font-size: 20px;
  }
}

  @media screen and (max-width: 950px){
    .navbar-items{
        z-index: 99;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        list-style: none;
        //justify-content: flex-start;
        background-color: white;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        align-items: center;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        //border-radius: 13px;
        //z-index: -1;
    }
    .nav-menu-active{
      display: flex;
      flex-direction: column;
      list-style: none;
      justify-content: flex-start;
      top: 65px;
      width: 100%;
      background-color: white;
      height: auto;
      position: absolute;
      align-items: center;
      left: 0;
      opacity: 1;
      z-index: -1;
      transition: 0.3s ease-in-out;
      padding: 10px;
    }

    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.5rem;
        padding: 2rem 0;
        color: black;
    }

    .nav-links:hover{
        background: #01959a;
        transition: none;
        //width: 100%;
    }

    button{
        display: none;

    }

    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 4px;
        width: 80%;
        background: #01959a;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 2px;

    }
    .navbar-logo{
      width: 15%;
    }
    .menu-icons{
        display: block;
        cursor: pointer;
        font-size: 3.1rem;
        /* display: flex;
        position: flex-start; */
        color: white;
        //color: #050000;
        //background-color: #050000;
      } 
    .navbar-profile-icon-desktop{
        display: none;
    }
    .navbar-profile-icon-mobile{
        display: block;
    }
    
  }

  @media screen and (max-width: 960px){
    
    
    
  }
  @media screen and (max-width: 576px){
    .nav-links{
      font-size: 1rem;
      font-weight: 600;
      padding: 0.5rem 0.7rem;
    }
    .nav-links-mobile{
      padding: 0.8rem;
      width: 200px;
      height: 50px;
      font-size: 1.1rem;
      font-weight: 400;

  }
    
  }